@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Lobster&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F3F1FF;
  font-family: 'Poppins', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

/* top section style  */

.top{
  width: 870px;
  height: 670px;
  background-color: white;
  padding: 30px;
}

.top-players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.top-player{
  display: flex;
  align-items: center;
  gap: 16px;
}

.top-player img{
  width: 56px;
  height: 56px;
}

.top-text{
  margin-bottom: 30px;
  color: #562EFF;
}

.hr{
  border: 1px solid #D1D1D1;
  margin: 30px 0;
}